@tailwind base;
@tailwind components;
@tailwind utilities;

/* Techy font */
* {
  font-family: 'Ubuntu', sans-serif;
}

/* Animation delay utilities */
.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Grid animation */
@keyframes gridMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px);
  }
}
